<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!------------------------  TRANSFORMER STRUCTURE  ------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->

<div class="col-md-12">
    <!-------- P5.JS CONTAINER -------->
    <div id="core-structure-container"></div>
    <!--------------------------------->
</div>

