﻿/* Font Awesome */
@font-face {
    font-family: 'fontawesome';
    src: url('../lib/font-awesome/fonts/fontawesome.otf') format('opentype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F6F6F6 !important;
    line-height: 1 !important;
}

a { outline: 0 !important; }

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

/*input,
select,
textarea { max-width: 280px; }*/

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */

.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}


/* Material Switch */


.material-switch > input[type="checkbox"] { display: none; }

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 12px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 20px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 20px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.material-switch {
    margin-left: 5px;
    margin-top: 5px;
}

/************************************************    CUSTOM CSS    *************************************************/

/********************    INPUT SIZE    ********************/

input, select, .material-switch, tr, span, p {
    max-height: 25px !important;
    font-size: 11px !important;
}

.form-control { padding: 1px 6px !important; }

.btn { padding: 3px 12px; }

/********************    COL SPACING    ********************/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 2px !important;
    padding-left: 2px !important;
}

/********************    ROW MARGIN    ********************/

.row { margin: 0 !important; }

/********************    FORM-GROUP MARGIN    ********************/

.form-group { margin-bottom: 5px !important; }

/********************    FONT SIZE    ********************/

.panel-heading { font-size: 11px !important; }

label {
    font-size: 11px !important;
    margin-bottom: 1px !important;
}

.nav-pills {
    font-size: 9px !important;
    text-transform: uppercase !important;
}

.jsgrid-grid-header {
    font-size: 12px !important;
    font-weight: bold !important;
    color: #505A65 !important;
}


/********************    INPUT-GROUPS    ********************/

.input-group-addon {
    border-left-width: 0;
    border-right-width: 0;
}

.input-group-addon:first-child { border-left-width: 1px; }

.input-group-addon:last-child { border-right-width: 1px; }


/********************    INPUTS GLOW    ********************/

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/********************    CUSTOM LEGEND    ********************/

.custom-legend {
    border: none !important;
    background-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding-left: 0 !important;
}


/********************    CONTAINER FLUID    ********************/

.container-fluid { max-width: 1900px !important; }


/********************    MAIN MENU    ********************/

.navbar-grey {
    background-color: rgb(47, 46, 46) !important;
    /*max-height: 30px !important;
    padding: 5px 15px !important;*/
}

.navbar-grey a {
    color: rgb(165, 162, 162) !important;
    max-height: 30px !important;
    line-height: 30px !important;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 12px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    height: 28px;
}

.navbar {
    min-height: 50px !important;
    padding: 5px 15px !important;
}

.navbar-grey a:hover {
    background-color: rgb(47, 46, 46) !important;
    color: white !important;
}

.navbar-grey ul { padding-left: 30px; }

/********************    MAIN LOGO    ********************/

.abb-logo { max-height: 40px !important; }

/********************    FOOTER    ********************/

.footer-fixed {
    position: fixed;
    bottom: 0;
}

/********************    UPPER-BLOCK TABS    ********************/

.upper-block { margin-top: 5px !important; }

/********************    MIDDLE/UPPER-BLOCK TABS    ********************/

.nav-pills > li > a {
    border-radius: 4px 4px 0 0;
    background-color: rgba(201, 201, 201, .2);
    padding: 5px 10px !important;
}

.tab-content {
    color: #505A65;
    background-color: rgba(125, 123, 123, 0.4) !important;
    padding: 7px;
    padding-bottom: 1px;
    margin-bottom: 5px;
}

.grey .active a {
    color: #fff !important;
    background-color: rgba(125, 123, 123, 0.4) !important;
    font-weight: bolder !important;
}

.grey a:hover {
    color: rgba(255, 0, 7, 0.5) !important;
    background-color: rgba(125, 123, 123, 0.4) !important;
    font-weight: bold !important;
}

.grey a {
    color: #505A65 !important;
    font-weight: bold !important;
}

.heading-toggle { min-height: 23px; }

.label-tapping { margin-left: 100%; }

/********************    MIDDLE-BLOCK PANELS    ********************/

.dark-grey {
    /*background-color: rgb(119, 117, 117) !important;*/
    color: rgba(255, 255, 255, 1) !important;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
    background-image: url('../images/irongrip.png');
}

.panel .grey { background-color: rgba(201, 201, 201, .5) !important; }

.panel {
    border: 1px solid #797979 !important;
    margin-bottom: 5px !important;
}

.bold { font-weight: bold !important; }

.panel-heading {
    letter-spacing: 2px !important;
    max-height: 30px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.panel-body { padding: 5px !important; }


/********************   RESULTS   ********************/

/*.results-buttons {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}*/

.panel-results {
    min-height: 70px;
    padding: 10px !important;
}

/********************    TRANSFORMER STRUCTURE (P5.JS DRAWING)    ********************/

#transformer-structure-container {
    margin-top: 20px !important;
    margin-left: -12px !important;
    min-height: 320px;
}

#defaultCanvas0 {
    border-radius: 4px !important;
    width: 100% !important;
    height: 100% !important;
}

/********************    CORE STRUCTURE (P5.JS DRAWING)    ********************/

#core-structure-container { min-height: 342px; }

#defaultCanvas1 {
    width: 100% !important;
    height: 100% !important;
}

/********************    DATAGRID (JSGRID.JS)    ********************/

.jsgrid-grid-header, .jsgrid-grid-body, .jsgrid-header-row > .jsgrid-header-cell, .jsgrid-filter-row > .jsgrid-cell, .jsgrid-insert-row > .jsgrid-cell, .jsgrid-edit-row > .jsgrid-cell { border: none !important; }

.panel-grid { padding: 0 !important; }

.windings-circuit-grid > .jsgrid-grid-body {
    max-height: 55px !important;
    overflow-y: auto !important;
}

.mech-groups-grid > .jsgrid-grid-body {
    max-height: 315px !important;
    overflow-y: auto !important;
    margin-bottom: 5px;
}

.jsgrid-grid-header {
    overflow-y: hidden !important;
    /*padding-right: 17px !important;*/
}

#windings-circuit-grid, #mech-groups-grid { border-radius: 4px !important; }

.jsgrid-delete-button { font-family: fontawesome, 'Helvetica Neue', Helvetica, Arial, sans-serif !important; }

/********************    TESTING TABS    ********************/

#mechanical-groups-middle-tab, #barriers-middle-tab, #harmonics-middle-tab { min-height: 326px; }

/********************    MIDDLE CONTAINERS    ********************/

#middle-container { width: 77% !important; }

#aside-container { width: 23% !important; }

/********************    FONT AWESOME TOGGLES    ********************/

.custom-toggle { color: #6A951D; }

.custom-toggle:hover {
    text-decoration: none;
    cursor: pointer;
    color: #6A951D;
}

.validation-toggle { color: #D9534F; }

/********************    CALCULATION TIME    ********************/

.calc-time-well {
    border-radius: 0 !important;
    margin-bottom: 5px !important;
    box-sizing: border-box !important;
    height: 100% !important;
    width: 100% !important;
    text-shadow: 0 1px 0px rgb(255, 255, 255) !important;
    margin-top: 0px !important;
    font-family: sans-serif !important;
    padding: 0 !important;
}

.display {
    font-size: 50px !important;
    padding: 0 !important;
}

.display > span {
    font-weight: bold !important;
    font-size: 40px !important;
    line-height: 50px !important;
}

/********************    LOGIN    ********************/

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

    .form-signin input {
        max-height: none !important;
        font-size: 20px !important;
    }
    .form-signin label {
        font-size: 12px !important;
    }

.form-signin-heading { margin-bottom: 30px !important; }
.form-signin-heading {
    border: 0 solid #D9534F;
    border-bottom-width: 3px;
    padding-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.form-signin input {
    margin-bottom: 10px;
}

.form-signin .material-switch{
    margin-bottom: 20px;
}