﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ABB DTS</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-toggle/css/bootstrap-toggle.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/jsgrid/css/jsgrid.css" />
        <link rel="stylesheet" href="~/lib/jsgrid/css/theme.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/jsgrid/css/jsgrid.css" />
        <link rel="stylesheet" href="~/lib/jsgrid/css/theme.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-grey navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="pull-left"><img class="img-responsive abb-logo" src="~/images/logo.png"></a> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">File</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Properties</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Help</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        @*<hr />
        <footer class="footer-fixed">
            <p>&copy; 2017 - ABB DTS</p>
        </footer>*@
    </div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/lib/jsgrid/dist/jsgrid.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/p5/p5.js"></script>
    <script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.js"></script>
    <script src="~/js/datagrid.js"></script>
    <script src="~/js/impedances-datagrid.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script src="~/js/transformer-structure.js"></script>
    <script src="~/js/core-structure.js"></script>
</environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js">
        </script>
     
        <script src="~/lib/jsgrid/dist/jsgrid.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js">
        </script>
        <script src="~/lib/p5/p5.min.js"></script>
        <script src="~/lib/font-awesome/js/font-awesome.min.js"></script>
        <script src="~/js/datagrid.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        
        
        <script src="~/js/transformer-structure.min.js"></script>
        <script src="~/js/core-structure.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
