@using Microsoft.AspNetCore.Identity
@using DTSWeb.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Welcome, @UserManager.GetUserName(User)</a>
            </li>
            <li>
                <a onclick="$('#logoutForm').submit()" href="#">Log out</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>*@
        <li>@*<a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>*@</li>
        <li>@*<a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>*@</li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
