﻿<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!----------------------------- MAIN PAGE -------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->

@{
    ViewData["Title"] = "DTS";
}


<div class="upper-block row">
    <!---------------------------- MAIN DATA ---------------------------------->
    <div class="col-md-10" id="main-data-container">
        @Html.Partial("~/Views/TransformerData/_MainDataPartial.cshtml")
    </div>
    <div class="col-md-2" id="calc-time-container">
        @Html.Partial("~/Views/TransformerData/_CalcTimePartial.cshtml")
    </div>
    <!------------------------------------------------------------------------->
    
    <!----------------------------- CIRCUITS ---------------------------------->
    <div class="col-md-12">
        <ul class="nav nav-pills grey" id="circuits-header">
            <li class="active">
            </li>
        </ul>

        <div class="tab-content clearfix" id="circuits-container">     
        </div>
    </div>
    <!------------------------------------------------------------------------>


</div>

<div class="middle-block row">
    <!---------------------------- MIDDLE-BLOCK PILLS ---------------------------------->
    <div class="col-md-8" id="middle-container">
        <ul class="nav nav-pills grey">
            <li class="active">
                <a href="#model-definition-tab" data-toggle="tab">
                    <i class="fa fa-times-circle validation-toggle" id="model-definition-validation" aria-hidden="true"></i>
                    Model Definition
                </a>
            </li>
            <li>
                <a href="#results-tab" data-toggle="tab">Results</a>
            </li>
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="model-definition-tab">
                <ul class="nav nav-pills grey" id="middle-tab-headers">
                    <li class="active" id="core-middle-tab-header">
                        <a href="#core-middle-tab" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="core-validation" aria-hidden="true"></i>
                            Core
                        </a>
                    </li>
                    <li>
                        <a href="#windings-container" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="c4-ext-lv3y-validation" aria-hidden="true"></i>
                            C4-Ext-LV3Y
                        </a>
                    </li>
                    <li>
                        <a href="#windings-container" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="c4-d-lv3d-validation" aria-hidden="true"></i>
                            C4-D-LV3D
                        </a>
                    </li>
                    <li>
                        <a href="#windings-container" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="c3-w-lv2d-validation" aria-hidden="true"></i>
                            C3-W-LV2D
                        </a>
                    </li>
                    <li>
                        <a href="#windings-container" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="c2-ext-lv1y-validation" aria-hidden="true"></i>
                            C2-Ext-LV1Y
                        </a>
                    </li>
                    <li>
                        <a href="#windings-container" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="c2-d-lv1d-validation" aria-hidden="true"></i>
                            C2-D-LV1D
                        </a>
                    </li>
                    <li>
                        <a href="#c4-ext-lv3y-middle-tab" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="c1-w-hv3-validation" aria-hidden="true"></i>
                            C1-W-HV3
                        </a>
                    </li>
                    <li>
                        <a href="#windings-container" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="c1-w-hv2-validation" aria-hidden="true"></i>
                            C1-W-HV2
                        </a>
                    </li>
                    <li>
                        <a href="#windings-container" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="c1-w-hv1-validation" aria-hidden="true"></i>
                            C1-W-HV1
                        </a>
                    </li>
                    <li>
                        <a href="#mechanical-groups-middle-tab" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="mechanical-groups-validation" aria-hidden="true"></i>
                            Mechanical Groups
                        </a>
                    </li>
                    <li>
                        <a href="#barriers-middle-tab" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="c4-ext-lv3y-validation" aria-hidden="true"></i>
                            Barriers
                        </a>
                    </li>
                    <li>
                        <a href="#harmonics-middle-tab" data-toggle="tab">Harmonics</a>
                    </li>
                </ul>
                <div class="tab-content clearfix" id="middle-tab-content">
                    <div class="tab-pane active" id="core-middle-tab">
                        <div class="col-md-6" id="core-container">
                            @Html.Partial("~/Views/TransformerData/_CorePartial.cshtml")
                        </div>
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-4" id="structure-container">
                            @Html.Partial("~/Views/TransformerStructure/_CoreStructurePartial.cshtml")
                        </div>
                    </div>
                    <div class="tab-pane" id="windings-container">
                        @Html.Partial("~/Views/TransformerData/_WindingsPartial.cshtml")
                    </div>
                    <div class="tab-pane" id="mechanical-groups-middle-tab">
                        <div id="mech-groups-grid" class="mech-groups-grid jsgrid"></div>
                    </div>
                    <div class="tab-pane" id="barriers-middle-tab">
                        <h3>BARRIERS</h3>
                    </div>
                    <div class="tab-pane" id="harmonics-middle-tab">
                        <h3>HARMONICS</h3>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="results-tab">
                <ul class="nav nav-pills grey" id="results-middle-tab-headers">
                    <li class="active" id="impedances-middle-tab-header">
                        <a href="#impedances-middle-tab" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="impedances-validation" aria-hidden="true"></i>
                            Impedances
                        </a>
                    </li>
                    <li>
                        <a href="#losses-middle-tab" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="losses-validation" aria-hidden="true"></i>
                            Losses
                        </a>
                    </li>
                    
                    <li>
                        <a href="#temperatures-container" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="temperatures-validation" aria-hidden="true"></i>
                            Temperatures
                        </a>
                    </li>
                    <li>
                        <a href="#axial-forces-container" data-toggle="tab">
                            <i class="fa fa-times-circle validation-toggle" id="axial-forces-validation" aria-hidden="true"></i>
                            Axial Forces
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <!---------------------------------------------------------------------------------->

    <div class="col-md-4" id="aside-container">     
        <!---------------------------- TRANSFORMER STRUCTURE ------------------------------->
        <div class="col-md-12">
            @Html.Partial("~/Views/TransformerStructure/_TransformerStructurePartial.cshtml") 
        </div>
        <!---------------------------------------------------------------------------------->  
    </div>
   
  
</div>
<div class="bottom-block row">
    @Html.Partial("~/Views/TransformerData/_ResultsBottomPartial.cshtml")
</div>