@model DTSWeb.Models.Circuit

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Circuit</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="CircuitId" />
        <dt>
            @Html.DisplayNameFor(model => model.KVa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KVa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinTapping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinTapping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxTapping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxTapping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnalyzeTapping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnalyzeTapping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CircuitConnection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CircuitConnection.CircuitConnectionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sequence.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
