@model DTSWeb.Models.Circuit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Circuit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KVa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KVa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinTapping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinTapping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxTapping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxTapping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnalyzeTapping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnalyzeTapping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CircuitConnection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CircuitConnection.CircuitConnectionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sequence.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CircuitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
