@model DTSWeb.Models.Circuit

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Circuit</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CircuitId" />
        <div class="form-group">
            <label asp-for="CircuitConnectionId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CircuitConnectionId" class="form-control" asp-items="ViewBag.CircuitConnectionId"></select>
                <span asp-validation-for="CircuitConnectionId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SequenceId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SequenceId" class="form-control" asp-items="ViewBag.SequenceId"></select>
                <span asp-validation-for="SequenceId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KVa" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KVa" class="form-control" />
                <span asp-validation-for="KVa" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vline" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vline" class="form-control" />
                <span asp-validation-for="Vline" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MinTapping" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MinTapping" class="form-control" />
                <span asp-validation-for="MinTapping" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaxTapping" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaxTapping" class="form-control" />
                <span asp-validation-for="MaxTapping" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AnalyzeTapping" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AnalyzeTapping" class="form-control" />
                <span asp-validation-for="AnalyzeTapping" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

