@model IEnumerable<DTSWeb.Models.Circuit>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KVa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinTapping)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxTapping)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnalyzeTapping)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CircuitConnection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sequence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KVa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinTapping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTapping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalyzeTapping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CircuitConnection.CircuitConnectionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CircuitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CircuitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CircuitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
