﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="wrapper">
    <form class="form-signin" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <h2 class="form-signin-heading">Log in</h2>
        @if (!ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="alert alert-danger "></div>
        }
        <div class="form-group col-md-12">
            <label asp-for="UserName">Username</label>
            <input class="form-control" asp-for="UserName">
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control">
        </div>
        <div class="form-group col-md-12">
            <label asp-for="RememberMe">Remember me?</label>
            <div class="material-switch">
                <input asp-for="RememberMe" type="checkbox"/>
                <label class="label-danger" for="RememberMe"></label>
            </div>
        </div>
        <button class="btn btn-lg btn-danger btn-block" type="submit">Login</button>
                 
    </form>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}