@using Microsoft.AspNetCore.Html
@model Circuit
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------- CIRCUITS -------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->

<div class="tab-pane active" id="circuits-tab">
    <div class="row">
        <form id="circuits-form" asp-controller="Circuits" asp-action="Edit" data-response="circuits-container">
            <div class="col-md-5">
                <!-------- HIDDEN ID ------->
                <input type="hidden" class="form-control" asp-for="CircuitId">
                <!-------------------------->
                <!-------- HIDDEN TAB POSITION ------->
                <input type="hidden" class="form-control" asp-for="TabPosition">
                <!------------------------------------>
                <!------ KVA | V LINE ------>
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label asp-for="KVa">kVA</label>
                        @if (Model.TabPosition == 1)
                        {
                            <input asp-for="KVa" class="form-control" disabled="disabled">
                        }
                        else
                        {
                            <input asp-for="KVa" class="form-control" >
                        }

                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Vline">V Line</label>
                        <input asp-for="Vline" class="form-control">
                    </div>
                </div>
                <!---------------------->
                <!------ CONN | SEQ ------>
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label asp-for="CircuitConnectionId">Connection</label>
                        <select class="form-control" asp-for="CircuitConnectionId" asp-items="@ViewBag.CircuitConnections"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="SequenceId">Sequence</label>
                        @if (Model.CircuitConnection.Name == "Wye")
                        {
                            <select class="form-control" asp-for="SequenceId" asp-items="@ViewBag.Sequences" disabled="disabled"></select>
                        }
                        else
                        {
                            <select class="form-control" asp-for="SequenceId" asp-items="@ViewBag.Sequences"></select>
                        }

                    </div>
                </div>
                <!---------------------->

            </div>
            <!---------------------------- TAPPING ---------------------------------->
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-heading bold dark-grey heading-toggle">
                        <a class="fa fa-check fa-lg pull-left custom-toggle" id="tapping-toggle"></a>
                        Tapping
                    </div>
                    <div class="panel-body grey">
                        <!------ MAX | MIN | ANALYZE ------>
                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                <label asp-for="MaxTapping">Max</label>
                                <input asp-for="MaxTapping" class="form-control">
                                <small class="text-muted">21000</small>
                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="MinTapping">Min</label>
                                <input asp-for="MinTapping" class="form-control">
                                <small class="text-muted">19000</small>
                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="AnalyzeTapping">Analyze</label>
                                <input asp-for="AnalyzeTapping" class="form-control">
                                <small class="text-muted">20000</small>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="legend-tapping">&nbsp;</label>
                                <p class="form-control custom-legend" id="legend-tapping">[%]</p>
                                <small class="text-muted">[V]</small>
                            </div>
                        </div>
                        <!------------------------------->
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------->
            <div class="col-md-4">
                <!---------------------------- WINDINGS PER CIRCUIT ---------------------------------->
                <div class="panel">
                    <div class="panel-heading bold dark-grey">Windings</div>
                    <div class="panel-body grey panel-grid">
                        <div class="col-md-3">
                            <!------ CONN | TAPPING ------>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label for="conn-windings-circuit">Conn</label>
                                    <select class="form-control" id="conn-windings-circuit">
                                        <option>Series</option>
                                        <option>Parallel</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="tapping-windings-circuit">Tapping</label>
                                    <div class="material-switch">
                                        <input id="tapping-windings-circuit" type="checkbox" />
                                        <label for="tapping-windings-circuit" class="label-danger"></label>
                                    </div>
                                </div>
                            </div>
                            <!------------------------------->
                        </div>
                        <div class="col-md-9">
                            <div id="windings-circuit-grid" class="windings-circuit-grid jsgrid"></div>
                        </div>
                    </div>
                </div>
                <!------------------------------------------------------------------------------------>
            </div>
        </form>
    </div>
</div>
