@model Core
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!---------------------------------- CORE----------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->

<form id="core-form" asp-controller="Cores" asp-action="Edit" data-response="core-container">
    
    <!------ HIDDEN ID ------>
    <input type="hidden" class="form-control" asp-for="CoreId" value="0">
    <!----------------------->

    <!------ LEG SHAPE ------>
    <div class="col-md-12">
        <div class="form-group col-md-12">
            <label asp-for="LegShapeId" >Leg Shape</label>
            <select class="form-control" asp-for="LegShapeId" asp-items="@ViewBag.LegShapes">
            </select>
        </div>

    </div>
    <!--------------------->

    <!------ NET | GROSS CSA [CM2] ------>
    <div class="col-md-12">
        <div class="form-group col-md-6">
            <label asp-for="NetCsa">Net</label>
            <input asp-for="NetCsa" class="form-control" >
        </div>
        <div class="form-group col-md-6">
            <label asp-for="GrossCsa">Gross CSA [cm<sup>2</sup>]</label>
            <input asp-for="GrossCsa" class="form-control" >
        </div>
    </div>
    <!---------------------------------->

    <!------ MAX WIDTH | DIAM ------>
    <div class="col-md-12">
        <div class="form-group col-md-6">
            <label asp-for="MaxWidth">Max Width</label>
            <input class="form-control" asp-for="MaxWidth">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Diam">Diam</label>
            <input asp-for="Diam" class="form-control">
        </div>
    </div>
    <!---------------------------------->

    <!---------- WINDOW HEIGHT | LEG CENTERS ---------->
    <div class="col-md-12">
        <div class="form-group col-md-6">
            <label asp-for="WindowWidth">Window Height</label>
            <input asp-for="WindowWidth" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LegCenters">Leg Centers</label>
            <input asp-for="LegCenters" class="form-control">
        </div>
    </div>
    <!---------------------------------->

    <!------- VOLTS PER TURN | B [T] -------->
    <div class="col-md-12">
        <div class="form-group col-md-6">
            <label asp-for="VoltsPerTurn">Volts Per Turn</label>
            <input asp-for="VoltsPerTurn" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="B">B [T]</label>
            <input asp-for="B" class="form-control">
        </div>
    </div>
    <!-------------------------------------->

    <!------- NLL -------->
    <div class="col-md-12">
        <div class="form-group col-md-12">
            <label asp-for="Nll">NLL @@ 20&#xBA;C</label>
            <input asp-for="Nll" class="form-control">
        </div>
    </div>
    <!-------------------------------------->

    <!------- COOLING DUCTS | WIDTH -------->
    <div class="col-md-12">
        <div class="form-group col-md-6">
            <label asp-for="CoolingDucts">Cooling Ducts</label>
            <input asp-for="CoolingDucts" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Width">Width</label>
            <input asp-for="Width" class="form-control">
        </div>
    </div>
    <!-------------------------------------->
</form>