@model Transformer
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!------------------------------- TRANSFORMER------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<div class="row col-md-12">
    <form id="main-data-form" asp-controller="Transformers" asp-action="Edit" data-response="main-data-container">
        
        <!------ HIDDEN ID ------>
        <input type="hidden" class="form-control" asp-for="TransformerId" value="0">
        <!----------------------->
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!------ DESIGN ID ------>
        <div class="col-md-1">
            <div class="form-group col-md-12">
                <label for="design-id-main">Design ID</label>
                <input type="text" class="form-control" asp-for="DesignId">
                <span asp-validation-for="DesignId" class="text-danger"></span>
            </div>
        </div>
        <!----------------------->

        <!------ KVA | HZ ------>
        <div class="col-md-2">
            <div class="form-group col-md-6">
                <label asp-for="KVa">kVA</label>
                <input type="text" class="form-control" asp-for="KVa">
                <span asp-validation-for="KVa" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Frequency">Hz</label>
                <input type="text" class="form-control" asp-for="Frequency">
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
        </div>
        <!---------------------->

        <!------ PHASES | CIRCUITS ------>
        <div class="col-md-2">
            <div class="form-group col-md-6">
                <label asp-for="PhaseId">Phases</label>
                <select class="form-control" asp-for="PhaseId" asp-items="@ViewBag.Phases">
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="circuits-main">Circuits</label>
                <input type="text" class="form-control" id="circuits-main" value="1">
            </div>
        </div>
        <!------------------------------>

        <!------ MECH GROUPS | ACR ------>
        <div class="col-md-2">
            <div class="form-group col-md-7">
                <label for="mech-groups-main">Mech Groups</label>
                <input type="text" class="form-control" id="mech-groups-main">
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Acr">ACR</label>
                <div class="material-switch">
                    <input asp-for="Acr" type="checkbox"/>
                    <label for="Acr" class="label-danger"></label>
                </div>
            </div>
        </div>
        <!------------------------------>

        <!------ COOLING TYPES ------>
        <div class="col-md-1">
            <div class="form-group col-md-12">
                <label asp-for="CoolingTypeId">Cooling Type</label>
                <select class="form-control" asp-for="CoolingTypeId" asp-items="@ViewBag.CoolingTypes">
                </select>
            </div>
        </div>
        <!-------------------------->

        <!------ TAMB | TREF ------>
        <div class="col-md-2">
            <div class="form-group col-md-6">
                <label asp-for="Tamb">Tamb</label>
                <input type="text" class="form-control" asp-for="Tamb">
                <span asp-validation-for="Tamb" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Tref">Tref [&#xBA;C]</label>
                <input type="text" class="form-control" asp-for="Tref">
                <span asp-validation-for="Tref" class="text-danger"></span>
            </div>
        </div>
        <!---------------------->

    </form>
</div>