<div class="row col-md-12">


    <!------ IMPEDANCES ------>
    <div class="col-md-2">
        <div class="panel ">
            <div class="panel-heading bold dark-grey">Impedances</div>
            <div class="panel-body grey panel-results">
                <form>
                    <div class="form-group col-md-4">
                        <label for="c1-allcs-impedances-bottom">C1 - All Cs</label>
                        <div class="material-switch">
                            <input id="c1-allcs-impedances-bottom" type="checkbox"/>
                            <label for="c1-allcs-impedances-bottom" class="label-danger"></label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="c1-ci-impedances-bottom">C1 - Ci</label>
                        <div class="material-switch">
                            <input id="c1-ci-impedances-bottom" type="checkbox" />
                            <label for="c1-ci-impedances-bottom" class="label-danger"></label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ci-cj-impedances-bottom">Ci - Cj</label>
                        <div class="material-switch">
                            <input id="ci-cj-impedances-bottom" type="checkbox" />
                            <label for="ci-cj-impedances-bottom" class="label-danger"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!----------------------->

    <!------ LOSSES ------>
    <div class="col-md-2">
        <div class="panel ">
            <div class="panel-heading bold dark-grey">Losses</div>
            <div class="panel-body grey panel-results">
                <form>
                    <div class="form-group col-md-6">
                        <label for="rated-frequency-bottom">Rated frequency</label>
                        <div class="material-switch">
                            <input id="rated-frequency-bottom" type="checkbox" />
                            <label for="rated-frequency-bottom" class="label-danger"></label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="with-harmonics-bottom">With harmonics</label>
                        <div class="material-switch">
                            <input id="with-harmonics-bottom" type="checkbox" />
                            <label for="with-harmonics-bottom" class="label-danger"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!----------------------->

    <!------ TEMPERATURE RISE AND HOT-SPOTS ------>
    <div class="col-md-5">
        <div class="panel ">
            <div class="panel-heading bold dark-grey">Temperature rise and Hot-Spots</div>
            <div class="panel-body grey panel-results">
                <form>
                    <div class="form-group col-md-3">
                        <label for="no-load-heating-test-bottom">No-load heating test</label>
                        <div class="material-switch">
                            <input id="no-load-heating-test-bottom" type="checkbox" />
                            <label for="no-load-heating-test-bottom" class="label-danger"></label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="long-heating-test-bottom">Long heating test</label>
                        <div class="material-switch">
                            <input id="long-heating-test-bottom" type="checkbox" />
                            <label for="long-heating-test-bottom" class="label-danger"></label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="in-service-at-rated-frequency-bottom">In service at rated frequency</label>
                        <div class="material-switch">
                            <input id="in-service-at-rated-frequency-bottom" type="checkbox" />
                            <label for="in-service-at-rated-frequency-bottom" class="label-danger"></label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="in-service-with-harmonics-bottom">In service with harmonics</label>
                        <div class="material-switch">
                            <input id="in-service-with-harmonics-bottom" type="checkbox" />
                            <label for="in-service-with-harmonics-bottom" class="label-danger"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!----------------------->

    <!------ SHORT-CIRCUIT FORCES ------>
    <div class="col-md-2">
        <div class="panel">
            <div class="panel-heading bold dark-grey">Short-circuit forces</div>
            <div class="panel-body grey panel-results">
                <form>
                    <div class="form-group col-md-4">    
                        <label for="c1-allcs-short-circuit-bottom">C1 - All Cs</label>
                        <div class="material-switch">
                            <input id="c1-allcs-short-circuit-bottom" type="checkbox" />
                            <label for="c1-allcs-short-circuit-bottom" class="label-danger"></label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="c1-ci-short-circuit-bottom">C1 - Ci</label>
                        <div class="material-switch">
                            <input id="c1-ci-short-circuit-bottom" type="checkbox" />
                            <label for="c1-ci-short-circuit-bottom" class="label-danger"></label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ci-cj-short-circuit-bottom">Ci - Cj</label>
                        <div class="material-switch">
                            <input id="ci-cj-short-circuit-bottom" type="checkbox" />
                            <label for="ci-cj-short-circuit-bottom" class="label-danger"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!----------------------->

    <!---------------------------- RESULTS BUTTTONS ------------------------------->
    <div class="col-md-1 results-buttons">
        <button class="btn btn-default btn-block" id="btn-run-results-buttons">
            <i class="fa fa-play" aria-hidden="true"></i> Run
        </button>
        <button class="btn btn-default btn-block" id="btn-stop-results-buttons">
            <i class="fa fa-stop" aria-hidden="true"></i> Stop
        </button>
        <button class="btn btn-default btn-block" id="btn-print-results-buttons">
            <i class="fa fa-print" aria-hidden="true"></i> Print
        </button>
    </div>
    <!----------------------------------------------------------------------------->


</div>