<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!----------------------- WINDING DEFINITION ----------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->
<!-------------------------------------------------------------------------->

<div class="col-md-12">
<div class="col-md-4">
    <div class="row col-md-12">
        <!---------------------------- FUNDAMENTAL PHASE-CURRENT ---------------------------------->
        <div class="col-md-6">
            <div class="panel ">
                <div class="panel-heading bold dark-grey">Fundamental P-C</div>
                <div class="panel-body grey">
                    <form>

                        <!------ RMS AMPLITUDE ------>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label for="rms-amplitude-fundamental">RMS Amplitude</label>
                                <input type="text" class="form-control" id="rms-amplitude-fundamental">
                            </div>
                        </div>
                        <!-------------------------->
                        <!------ PHASE SHIFT ------>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label for="phase-shift-fundamental">Phase Shift [&#xBA;]</label>
                                <input type="text" class="form-control" id="phase-shift-fundamental">
                            </div>
                        </div>
                        <!------------------------->

                    </form>
                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------------->
        <!---------------------------- TAPPING ---------------------------------->
        <div class="col-md-6">
            <div class="panel ">
                <div class="panel-heading bold dark-grey">Tapping</div>
                <div class="panel-body grey">
                    <form>

                        <!------ POSITION ------>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label for="tapping-position">Position</label>
                                <select class="form-control" id="tapping-position">
                                    <option>Top</option>
                                    <option>Center</option>
                                    <option>Bottom</option>
                                    <option>Top & Bottom</option>
                                </select>
                            </div>
                        </div>
                        <!--------------------->
                        <!------ MAX | MIN | ANALYZE ------>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label for="max-tapping">Max</label>
                                <input type="text" class="form-control" id="max-tapping">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="max-tapping">Min</label>
                                <input type="text" class="form-control" id="min-tapping">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="analyze-tapping">Analyze</label>
                                <input type="text" class="form-control" id="analyze-tapping">
                            </div>
                        </div>
                        <!------------------------------->
                    </form>
                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------->
    </div>
    <div class="row col-md-12">
        <!------------------------ WINDING GEOMETRY ----------------------------->
        <div class="col-md-12">
            <div class="panel ">
                <div class="panel-heading bold dark-grey">Winding Geometry</div>
                <div class="panel-body grey">
                    <form>

                        <!------ ELECTRICAL DIAMETER (ID/OD) ------>
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label for="electrical-diameter-winding-geometry">Electrical Diameter (ID/OD)</label>
                                <div class="input-group" id="electrical-diameter-winding-geometry">
                                    <input type="text" class="form-control" id="electrical-diameter-1-winding-geometry"/>
                                    <span class="input-group-addon">/</span>
                                    <input type="text" class="form-control" id="electrical-diameter-2-winding-geometry"/>
                                </div>
                            </div>
                        </div>

                        <!------------------------------->
                        <!------ ELECTRICAL HEIGHT | Y POSITION ------>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label for="electrical-height-winding-geometry">Electrical Height</label>
                                <input type="text" class="form-control" id="electrical-height-winding-geometry">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="y-position-winding-geometry">Y-Position</label>
                                <input type="text" class="form-control" id="y-position-winding-geometry">
                            </div>
                        </div>

                        <!------------------------------->
                        <!------ RADIAL BUILD FACTOR | MECH GROUP ------>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label for="radial-build-factor-winding-geometry">Radial Build Factor</label>
                                <input type="text" class="form-control" id="radial-build-factor-winding-geometry">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="mech-group-winding-geometry">Mech Group</label>
                                <input type="text" class="form-control" id="mech-group-winding-geometry">
                            </div>
                        </div>

                        <!------------------------------->

                    </form>
                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------->
    </div>
    <div class="row col-md-12">
        <div class="col-md-12">
            <button type="button" class="btn btn-default btn-block" id="btn-advanced-input">Switch to Advanced Input</button>
        </div>
    </div>

</div>


<div class="col-md-8">
<div class="row col-md-12">
    <div class="col-md-7">
        <!---------------------------- TURN ---------------------------------->
        <div class="row col-md-12">
            <div class="col-md-12">
                <div class="panel ">
                    <div class="panel-heading bold dark-grey">Turn</div>
                    <div class="panel-body grey">
                        <form>

                            <!------ MATERIAL | RATED TURNS | AXIAL GAP ------>
                            <div class="col-md-12">
                                <div class="form-group col-md-4">
                                    <label for="material-turn">Material</label>
                                    <select class="form-control" id="material-turn">
                                        <option>Top</option>
                                        <option>Center</option>
                                        <option>Bottom</option>
                                        <option>Top & Bottom</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="rated-turns-turn">Rated Turns</label>
                                    <input type="text" class="form-control" id="rated-turns-turn">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="axial-gap-turn">Axial Gap</label>
                                    <input type="text" class="form-control" id="axial-gap-turn">
                                </div>
                            </div>
                            <!--------------------->
                            <!------ COND DIMS ------>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label for="cond-dims-turn">Cond Dims</label>
                                    <div class="input-group" id="cond-dims-turn">
                                        <input type="text" class="form-control" id="cond-dims-1-turn"/>
                                        <span class="input-group-addon">x</span>
                                        <input type="text" class="form-control" id="cond-dims-2-turn"/>
                                        <span class="input-group-addon">+</span>
                                        <input type="text" class="form-control" id="cond-dims-3-turn"/>
                                        <span class="input-group-addon">:</span>
                                        <input type="text" class="form-control" id="cond-dims-4-turn"/>
                                        <span class="input-group-addon">x</span>
                                        <input type="text" class="form-control" id="cond-dims-5-turn"/>
                                    </div>
                                </div>
                            </div>
                            <!------------------------------->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------->
        <!---------------------------- INSULATION ---------------------------->
        <div class="row col-md-12">
            <div class="col-md-12">
                <div class="panel ">
                    <div class="panel-heading bold dark-grey">Insulation</div>
                    <div class="panel-body grey">
                        <form>

                            <!------ Tk btw turns | Tk btw || cond. ------>
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label for="tk-btw-turns-insulation">Tk Btw Turns</label>
                                    <input type="text" class="form-control" id="tk-btw-turns-insulation">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tk-btw-cond-insulation">Tk Btw || Cond</label>
                                    <input type="text" class="form-control" id="tk-btw-cond-insulation">
                                </div>
                            </div>

                            <!------------------------------->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------->
    </div>
    <div class="col-md-5">
        <!------------------------ COOLING DUCTS ----------------------------->
        <div class="row col-md-12">
            <div class="panel ">
                <div class="panel-heading bold dark-grey">Cooling Ducts</div>
                <div class="panel-body grey">
                    <form>

                        <!------ # | THICKNESS ------>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label for="hashtag-cooling-ducts">#</label>
                                    <input type="text" class="form-control" id="hashtag-cooling-ducts">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="thickness-cooling-ducts">Thickness</label>
                                    <input type="text" class="form-control" id="thickness-cooling-ducts">
                                </div>
                            </div>
                        </div>
                        <!--------------->
                        <!------ FILL | BLIND FACTOR ------>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label for="fill-cooling-ducts">Fill</label>
                                    <input type="text" class="form-control" id="fill-cooling-ducts">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="blind-factor-cooling-ducts">Blind Factor</label>
                                    <input type="text" class="form-control" id="blind-factor-cooling-ducts">
                                </div>
                            </div>
                        </div>
                        <!--------------->
                        <!------ TK INS DUCT | V ------>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label for="tk-ins-duct-cooling-ducts">Tk ins duct</label>
                                    <input type="text" class="form-control" id="tk-ins-duct-cooling-ducts">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="v-cooling-ducts">V</label>
                                    <input type="text" class="form-control" id="v-cooling-ducts">
                                </div>
                            </div>
                        </div>
                        <!--------------->
                        <!------ DETAILED DEFINITION ------>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <input type="button" class="form-control btn btn-default" id="btn-detailed-definition-cooling-ducts" value="Detailed Definition">
                                </div>
                            </div>
                        </div>
                        <!--------------->

                    </form>
                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------->
    </div>
</div>
<div class="row col-md-12">
    <!------------------------ SHIELDING SCREEN -------------------------->
    <div class="col-md-7">
        <div class="row col-md-12">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading bold dark-grey">
                        <a class="fa fa-check fa-lg pull-left custom-toggle" id="shielding-screen-toggle"></a>
                        Shielding Screen
                    </div>
                    <div class="panel-body grey">
                        <form>

                            <!------ MATERIAL | THICKNESS | HEIGHT | Y-POSITION | GET LOSSES ------>
                            <div class="col-md-12">
                                <div class="form-group col-md-2">
                                    <label for="material-shielding-screen">Material</label>
                                    <select class="form-control" id="material-shielding-screen">
                                        <option value="al">Al</option>
                                        <option value="cu">Cu</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="thickness-shielding-screen">Thickness</label>
                                    <input type="text" class="form-control" id="thickness-shielding-screen">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="height-shielding-screen">Height</label>
                                    <input type="text" class="form-control" id="height-shielding-screen">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="y-position-shielding-screen">Y-position</label>
                                    <input type="text" class="form-control" id="y-position-shielding-screen">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Get Losses</label>
                                    <div class="material-switch">
                                        <input id="get-losses-shielding-screen" type="checkbox"/>
                                        <label for="get-losses-shielding-screen" class="label-danger"></label>
                                    </div>
                                </div>
                            </div>
                            <!--------------------------------------------------------------------->
                            <!------------- SOLID TK | DUCT TK | FILL F | BLIND F | V ------------->
                            <div class="col-md-12">
                                <div class="form-group col-md-2">
                                    <label for="solid-tk-screen">Solid Tk</label>
                                    <input type="text" class="form-control" id="solid-tk-screen">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="duct-tk-screen">Duct Tk</label>
                                    <input type="text" class="form-control" id="duct-tk-screen">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="fill-f-screen">Fill F</label>
                                    <input type="text" class="form-control" id="fill-f-screen">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="blind-f-screen">Blind F</label>
                                    <input type="text" class="form-control" id="blind-f-screen">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="v-screen">V</label>
                                    <input type="text" class="form-control" id="v-screen">
                                </div>
                            </div>
                            <!--------------------------------------------------------------------->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------->
    <!---------------------------- LEADS ---------------------------------->
    <div class="col-md-5">
        <div class="row col-md-12">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading bold dark-grey">Leads</div>
                    <div class="panel-body grey">
                        <form>

                            <!------ Tk btw turns | Tk btw || cond. ------>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label for="cond-dims-leads">Cond Dims</label>
                                    <div class="input-group" id="cond-dims-leads">
                                        <input type="text" class="form-control" id="cond-dims-1-leads"/>
                                        <span class="input-group-addon">x</span>
                                        <input type="text" class="form-control" id="cond-dims-2-leads"/>
                                        <span class="input-group-addon">x</span>
                                        <input type="text" class="form-control" id="cond-dims-3-leads"/>
                                        <span class="input-group-addon">x</span>
                                        <input type="text" class="form-control" id="cond-dims-4-leads"/>
                                    </div>
                                </div>
                            </div>

                            <!------------------------------->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------->
</div>
</div>
</div>
